:root {
    --darkest-blue: #012840;
    --kinda-dark-blue: #175973;
    --blue: #2999A6;
    --light-blue: #7ED9D9;
    --off-white: #D0F2F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 46px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

li {
    margin-left: 10px;
}

ul {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--off-white);
}

button:hover {
    cursor: pointer;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--off-white);
}

body {
    background-color: var(--off-white);
    color: var(--darkest-blue)
}

.hidden {
    display: none;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: var(--off-white);
    color: var(--darkest-blue);
    font-weight: bold;
}

.content {
    margin: 0 15px;
    padding: 50px 0;
}

.header {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 50px 0;
}

.footer {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: var(--light-blue);
}

.footer a:hover {
    text-decoration: underline;
}

.selected {
    outline: 5px dashed var(--blue);
}

.completed {
    color: green;
}

/* Checks */

.checks {
    display: flex;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    justify-content: center;
    margin-bottom: 0;
}

.checks h2 {
    width: 100px;
    padding: 10px;
    margin: 0 10px;
}

/* NavTabs */

.nav-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.nav-link {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    margin-bottom: 10px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    font-weight: bold;
}

.nav-link:hover {
    color:var(--light-blue);
}

.active {
    width: 125px;
}

/* Playbook */

.playbook-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.playbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
}

.playbook-image-container {
    max-width: 100px;
}

.playbook-image {
    border-radius: 50%;
}

.playbook-container p {
    text-align: center;
}

.playbook > h2, h3, div, p {
    margin-bottom: 10px;
}

/* Background */

.background-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
}

.background h2 {
    margin-bottom: 10px;
}

.background button {
    margin-top: 10px;
}

/* Drive */

.drive-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.drive {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
}

.drive h2 {
    margin-bottom: 10px;
}

.drive button {
    margin-top: 10px;
}

/* Origin */

.origin-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.origin {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
}

.origin h2 {
    margin-bottom: 10px;
}

.origin-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.origin-options select, .origin-options input {
    margin-bottom: 10px;
    padding: 5px;
    color: var(--darkest-blue);
    text-align: center;
}

.origin-btn {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.origin-btn:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border: 2px solid var(--darkest-blue);
}

.origin-title {
    margin-bottom: 20px;
}

/* Stat */

.stat-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
}

.stat h2, .stat select {
    margin-bottom: 10px;
}

.stat-container select {
    padding: 5px;
    color: var(--darkest-blue);
}

.stat-btn {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.stat-btn:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border: 2px solid var(--darkest-blue);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.stat p {
    text-align: center;
}

/* Finalize */

.finalize-title {
    margin-bottom: 30px;
}

.character-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
}

/* Homepage */

.login-signup-container {
    display: flex;
    justify-content: center;
    color: var(--dark-green);
}

.login-signup-container input {
    margin: 5px 0;
    padding: 5px;
    border: 2px solid var(--darkest-blue);
    color: var(--darkest-blue);
    height: 22.222px;
}

.login-signup-container button {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.login-signup-container button:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
}

.login-container, .signup-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--darkest-blue);
    padding: 20px;
    margin: 10px;
}

.descriptors-inputs-container {
    display: flex;
}

.descriptors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.descritpors, .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.village-pic-container {
    border: 5px solid var(--darkest-blue);
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.village-pic {
    width: 100%;
}

/* Media Queries */

@media only screen and (min-width: 650px) {
    
    .nav-tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        background-color: var(--darkest-blue);
        margin: 0;
    }
    
    .nav-link {
        margin: 0 10px;
        border-bottom: 5px solid var(--darkest-blue);
        border-radius: 10px 10px 0 0;
        background-color: var(--off-white);
        padding: 10px 10px 10px 10px;
        color: var(--darkest-blue);
        font-weight: bold;
        width: 100px;
        text-align: center;
    }

    .nav-link:hover {
        color:var(--kinda-dark-blue);
    }
    
    .active {
        border-bottom: none;
        padding-bottom: 12px;
    }

}

@media only screen and (min-width: 768px) {
    
    .playbook, .background, .drive, .origin, .stat {
        width: 45%;
        margin: 15px;
    }

}

@media only screen and (min-width: 1200px) {

    .playbook, .background, .drive, .origin, .stat {
        width: 30%;
    }

}