:root {
    --darkest-blue: #012840;
    --kinda-dark-blue: #175973;
    --blue: #2999A6;
    --light-blue: #7ED9D9;
    --off-white: #D0F2F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

li {
    margin-left: 10px;
}

ul {
    margin-bottom: 10px;
}

p, ul {
    font-size: large;
}

button {
    padding: 10px;
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--off-white);
}

button:hover {
    cursor: pointer;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--off-white);
}

body {
    background-color: var(--off-white);
    color: var(--darkest-blue);
}

.btn-inverse {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.hidden {
    display: none;
}

.content {
    margin: 0 15px;
    padding: 50px 0 100px 0;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
    max-width: 500px;
}

/* Header */

.header {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 50px 0;
}

.header-links {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}

.header-link {
    margin: 0 15px;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: var(--off-white);
    color: var(--darkest-blue);
    font-weight: bold;
}

/* Footer */

.footer {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px 0;
    border-top: 2px solid var(--off-white);
}

.footer a {
    color: var(--light-blue);
}

.footer a:hover {
    text-decoration: underline;
}

/* Homepage */

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-page h2 {
    margin-bottom: 15px;
}

/* Login */

.login-description h2 {
    margin-bottom: 30px;
}

.login-signup-container {
    display: flex;
    justify-content: center;
    color: var(--dark-green);
}

.login-signup-container input {
    margin: 5px 0;
    padding: 5px;
    border: 2px solid var(--darkest-blue);
    color: var(--darkest-blue);
    height: 22.222px;
}

.login-signup-container button {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.login-signup-container button:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
}

.login-container, .signup-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--darkest-blue);
    padding: 20px;
    margin: 10px;
}

.descriptors-inputs-container {
    display: flex;
}

.descriptors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.descritpors, .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.village-pic-container {
    margin: 0 auto;
    max-width: 800px;
}

.village-pic {
    border: 5px solid var(--darkest-blue);
    border-radius: 10px;
    width: 100%;
}

/* Make Character */

.checks {
    display: flex;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    justify-content: center;
    margin-bottom: 0;
}

.checks h2 {
    width: 100px;
    padding: 10px;
    margin: 0 10px;
}

.selected {
    outline: 5px dashed var(--blue);
}

.completed {
    color: green;
}

.nav-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.nav-link {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    margin-bottom: 10px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    font-weight: bold;
}

.nav-link:hover {
    color:var(--light-blue);
}

.active {
    width: 125px;
}

/* Playbook */

.playbook-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.playbook-image-container {
    max-width: 100px;
}

.playbook-image {
    border-radius: 50%;
}

.playbook-container p {
    text-align: center;
}

.playbook > h2, h3, div, p {
    margin-bottom: 10px;
}

/* Background */

.background-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.background-title {
    margin-bottom: 15px;
}

.background h2 {
    margin-bottom: 10px;
}

.background button {
    margin-top: 10px;
}

/* Drive */

.drive-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.drive-title {
    margin-bottom: 15px;
}

.drive h2 {
    margin-bottom: 10px;
}

.drive button {
    margin-top: 10px;
}

/* Origin */

.origin-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.origin-title, .origin-title2 {
    margin-bottom: 20px;
}

.origin h2 {
    margin-bottom: 10px;
}

.origin-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.origin-options select, .origin-options input {
    margin-bottom: 10px;
    padding: 5px;
    color: var(--darkest-blue);
    text-align: center;
}

.origin-btn {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.origin-btn:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border: 2px solid var(--darkest-blue);
}

.origin-title {
    margin-bottom: 20px;
}

/* Stat */

.stat-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stat-title, .stat-title2 {
    margin-bottom: 15px;
}

.stat h2, .stat select {
    margin-bottom: 10px;
}

.stat-container select {
    padding: 5px;
    color: var(--darkest-blue);
}

.stat-btn {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
}

.stat-btn:active, .damage-btn:active {
    transform: scale(0.9);
}

.stat-btn:hover, .damage-btn:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.stat p {
    text-align: center;
}

/* Finalize */

.finalize-title {
    margin-bottom: 30px;
}

.character-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-review > * {
    margin: 20px;
}

.finalize-btn {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--darkest-blue);
    margin-bottom: 50px;
}

.finalize-btn:hover {
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border: 2px solid var(--darkest-blue);
}

.finalize-playbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    max-width: 500px;
    margin-top: 10px;
}

.finalize-playbook p {
    text-align: center;
}

.finalize-playbook > h2, h3, div, p {
    margin-bottom: 10px;
}

.finalize-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    max-width: 500px;
    margin-top: 10px;
}

.finalize-background h2 {
    margin-bottom: 10px;
}

.finalize-drive {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    max-width: 500px;
    margin-top: 10px;
}

.finalize-drive p {
    text-align: center;
}

.finalize-drive h2 {
    margin-bottom: 10px;
}

.finalize-card {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px gray;
    max-width: 500px;
    margin-top: 10px;
}

/* My Characters */

.my-characters-title {
    margin-bottom: 25px;
}

.character-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character-card h2 {
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #E74C3C;
    color: var(--off-white);
    margin-top: 15px;
    align-self: flex-end;
}

/* Character Sheet */

.character-info-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.info-link {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    margin-bottom: 10px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    font-weight: bold;
}

.info-link:hover {
    color:var(--light-blue);
}

.active {
    width: 125px;
}

/* Character Stats */

.character-sheet-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-sheet-title {
    display: flex;
    justify-content: center;
    margin: 0 0 25px 50px;
}

.edit-name-container-container, .edit-hp-container-container, .edit-armor-container-container, .edit-exp-container-container, .edit-level-container-container {
    align-self: center;
}

.edit-name-container, .edit-hp-container, .edit-armor-container, .edit-exp-container, .edit-level-container {
    border: 5px solid var(--darkest-blue);
    background-color: var(--off-white);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.edit-name-container h2, .edit-hp-container h2, .edit-armor-container h2, .edit-exp-container h2, .edit-level-container h2 {
    margin-bottom: 15px;
}

.new-name, .new-hp, .new-armor, .new-exp, .new-level {
    padding: 5px;
}

.name-btn-container, .hp-btn-container, .armor-btn-container, .exp-btn-container, .level-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15px
}

.name-btn-container button, .hp-btn-container button, .armor-btn-container button, .exp-btn-container button, .level-btn-container button {
    margin: 0 5px;
}

.character-sheet-title span {
    font-size: 48px;
}

.edit-image-container {
    width: 25px;
    cursor: pointer;
}

.edit-image {
    width: 100%;
}

.character-sheet-stat-container {
    display: flex;
    flex-direction: column;
}

.character-sheet-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--darkest-blue);
    color: var(--darkest-blue);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    min-width: 150px;
    max-width: 300px;
    width: 50%;
    position: relative;
    /* height: 100px; */
}

#edit-hp, #edit-armor, #edit-exp, #edit-level {
    position: absolute;
    top: 10px;
    right: 10px;
}

.two-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-stats .character-sheet-stat {
    width: 33%;
    min-width: 100px;
    max-width: 220px;
}

.stat-higher {
    position: absolute;
    background-color: var(--off-white);
    top: -3px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.stat-lower {
    position: absolute;
    background-color: var(--off-white);
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.wider {
    width: 115px;
}

.stat-number {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    width: 75px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid var(--darkest-blue);
}

.condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.two-stats .playbook-image-container {
    margin: 0;
}

.roll-container {
    border: 5px solid var(--darkest-blue);
    background-color: var(--off-white);
    height: 100px;
    /* max-width: 750px; */
    width: 450px;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.green {
    color: #16A085;
}

.blue {
    color: var(--darkest-blue);
}

.red {
    color: #E74C3C;
}

.red-background {
    background-color: #E74C3C;
}

/* Misc */

.misc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.misc-container h2 {
    margin-bottom: 15px;
}

/* Basic Moves */

.move-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.move h2 {
    margin-bottom: 15px;
}

.no-bullet {
    list-style-type: none;
}

/* Media Queries */

@media only screen and (min-width: 650px) {
    
    .nav-tabs, .character-info-tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        background-color: var(--darkest-blue);
        margin: 0;
    }
    
    .nav-link, .info-link {
        margin: 0 10px;
        border-bottom: 5px solid var(--darkest-blue);
        border-radius: 10px 10px 0 0;
        background-color: var(--off-white);
        padding: 10px 10px 10px 10px;
        color: var(--darkest-blue);
        font-weight: bold;
        width: 100px;
        text-align: center;
    }

    .nav-link:hover, .info-link:hover {
        color:var(--kinda-dark-blue);
    }
    
    .active {
        border-bottom: none;
        padding-bottom: 12px;
    }

}

@media only screen and (min-width: 768px) {
    
    .card {
        width: 45%;
        margin: 15px;
    }

}

@media only screen and (min-width: 1200px) {

    .card {
        width: 30%;
    }

}