:root {
    --darkest-blue: #012840;
    --kinda-dark-blue: #175973;
    --blue: #2999A6;
    --light-blue: #7ED9D9;
    --off-white: #D0F2F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 46px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

button {
    padding: 10px;
    background-color: var(--off-white);
    color: var(--darkest-blue);
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--off-white);
}

button:hover {
    cursor: pointer;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    border: 2px solid var(--off-white);
}

body {
    background-color: var(--off-white);
    color: var(--darkest-blue)
}

.content {
    /* width: 95%; */
    /* margin: 0 15px; */
    padding: 50px 0;
}

.header {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 50px 0;
}

.footer {
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: var(--light-blue);
}

.footer a:hover {
    text-decoration: underline;
}

/* NavTabs */

.nav-tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: var(--darkest-blue);
}

.nav-link {
    margin: 0 10px;
    border-bottom: 5px solid var(--darkest-blue);
    border-radius: 10px 10px 0 0;
    background-color: var(--off-white);
    padding: 10px 10px 10px 10px;
    color: var(--darkest-blue);
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.nav-link:hover {
    color:var(--kinda-dark-blue)
}

.active {
    border-bottom: none;
    padding-bottom: 12px;
}

/* Playbook */

.playbook-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.playbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: var(--darkest-blue);
    color: var(--off-white);
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    width: 100%;
}

.playbook-image-container {
    max-width: 100px;
}

.playbook-image {
    border-radius: 50%;
}

.playbook-container p {
    text-align: center;
}

.playbook > h2, h3, div, p {
    margin-bottom: 10px;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    
    .playbook {
        width: 45%;
        margin: 15px;
    }

}

@media only screen and (min-width: 1200px) {

    .playbook {
        width: 30%;
    }

}